/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0b1c2d;
    color: white;
}

section {
    padding: 150px 10%;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #00c6ff;
    display: block;
    margin-top: 10px;
}

p {
    color: #a0b3c6;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    background: rgba(11, 28, 45, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    transition: 0.3s;
}

nav a:hover {
    color: #00c6ff;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.first span {
    color: #00c6ff;
}

.first-text h1 {
    font-size: 45px;
}

.first-text p {
    margin-top: 20px;
}

.first-image img {
    width: 350px;
    border-radius: 20px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: #00c6ff;
    transition: 0.3s;
}

.btn:hover {
    background-color: #00c6ff;
    box-shadow: 0 0 10px  #00c6ff;
}

/* ===== SERVICES ===== */
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #112b3c;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00c6ff;
}

/* ===== SKILLS ===== */
.skill {
    margin-top: 25px;
}

.bar {
    width: 100%;
    height: 8px;
    background: #1f3b50;
    border-radius: 10px;
    margin-top: 5px;
}

.progress {
    height: 8px;
    border-radius: 10px;
    background-color: #00c6ff;
}

/* Adjust skill levels */
.html { width: 85%; }
.css { width: 75%; }
.js { width: 40%; }

/* ===== PROJECTS ===== */
.projects-container {
    display: flex;
    justify-content: space-evenly;
    gap:16px;
    margin-top: 40px;
}

.project-card {
    width:400px;
    background: #112b3c;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00c6ff;
}

.project-buttons {
    margin-top: 15px;
}

.project-btn {
    display: inline-block;
    padding: 8px 18px;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00c6ff;
    color: white;
    transition: 0.3s;
}

.project-btn:hover {
    box-shadow: 0 0 10px #00c6ff;
}

.project-btn.outline {
    background: transparent;
    border: 1px solid #00c6ff;
}

/* ===== CONTACT ===== */
#contact p {
    margin-top: 10px;
}
.github-link {
    color: inherit;           
    text-decoration: none;    
    transition: 0.3s ease;
}

.github-link:hover {
    color: #00f5ff;         
}
.contact-link {
    color: inherit;        /* keeps same text color */
    text-decoration: none; /* removes underline */
    transition: 0.3s ease;
}

.contact-link:hover {
    color: #00f5ff;        /* neon glow on hover */
}




/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 20px;
    background: #081421;
    margin-top: 40px;
}
